# SQL CARTO QUERY FUNCTION
# written for PUI2016_Python2 and Python3

In [82]:
SQL_SOURCE = 'https://fb55.carto.com/api/v2/sql?q='

try:
    import urllib2 as ulib
except ImportError:
    import urllib3 as ulib

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode
    
try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError

import ast
import pandas as pd
import datetime

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [83]:
test = '''
SELECT *
FROM citibike
'''

In [84]:
data = pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

In [85]:
data.head()

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0

Checking the size of data set

In [8]:
len(data)

46200

### Sorting by start station id and trip duration where trip duration < 3hrs

In [17]:
test = '''
SELECT * from citibike
WHERE tripduration <= 10800
ORDER BY start_station_id DESC, tripduration DESC
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,South End Ave & Liberty St,NaN,1576,-74.015756,7225,2015-02-01 11:46:00+00,2015-02-01 13:47:00+00,3002,1506,40.711512,499,Broadway & W 60 St,40.769155,-73.981918,21202,Customer,NaN,0
1,NaN,South End Ave & Liberty St,NaN,8891,-74.015756,2139,2015-02-03 09:33:00+00,2015-02-03 10:09:00+00,3002,8831,40.711512,510,W 51 St & 6 Ave,40.760660,-73.980420,15552,Subscriber,1958.0,1
2,NaN,South End Ave & Liberty St,NaN,23568,-74.015756,2131,2015-02-05 08:42:00+00,2015-02-05 09:17:00+00,3002,23529,40.711512,359,E 47 St & Park Ave,40.755103,-73.974987,21473,Subscriber,1985.0,1
3,NaN,South End Ave & Liberty St,NaN,27243,-74.015756,1977,2015-02-05 16:11:00+00,2015-02-05 16:44:00+00,3002,27203,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20069,Subscriber,1969.0,1
4,NaN,South End Ave & Liberty St,NaN,10232,-74.015756,1977,2015-02-03 16:04:00+00,2015-02-03 16:37:00+00,3002,10173,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,15309,Subscriber,1969.0,1
5,NaN,South End Ave & Liberty St,NaN,6846,-74.015756,1976,2015-02-02 09:21:00+00,2015-02-02 09:53:00+00,3002,6781,40.711512,494,W 26 St & 8 Ave,40.747348,-73.997236,19665,Subscriber,1959.0,1
6,NaN,South End Ave & Liberty St,NaN,44708,-74.015756,1920,2015-02-07 18:36:00+00,2015-02-07 19:08:00+00,3002,44703,40.711512,410,Suffolk St & Stanton St,40.720664,-73.985180,15443,Subscriber,1964.0,2
7,NaN,South End Ave & Liberty St,NaN,11648,-74.015756,1908,2015-02-03 18:54:00+00,2015-02-03 19:26:00+00,3002,11587,40.711512,279,Peck Slip & Front St,40.707873,-74.001670,19133,Subscriber,1996.0,1
8,NaN,South End Ave & Liberty St,NaN,1297,-74.015756,1900,2015-02-01 11:14:00+00,2015-02-01 11:45:00+00,3002,1228,40.711512,525,W 34 St & 11 Ave,40.755942,-74.002116,17849,Customer,NaN,0
9,NaN,South End Ave & Liberty St,NaN,17637,-74.015756,1830,2015-02-04 16:33:00+00,2015-02-04 17:04:00+00,3002,17590,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20246,Subscriber,1969.0,1
10,NaN,South End Ave & Liberty St,NaN,24252,-74.015756,1823,2015-02-05 09:20:00+00,2015-02-05 09:50:00+00,3002,24214,40.711512,449,W 52 St & 9 Ave,40.764618,-73.987895,16496,Subscriber,1981.0,1
11,NaN,South End Ave & Liberty St,NaN,35607,-74.015756,1776,2015-02-06 16:02:00+00,2015-02-06 16:32:00+00,3002,35576,40.711512,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,21158,Subscriber,1969.0,1
12,NaN,South End Ave & Liberty St,NaN,32856,-74.015756,1717,2015-02-06 09:19:00+00,2015-02-06 09:48:00+00,3002,32820,40.711512,521,8 Ave & W 31 St,40.750450,-73.994811,15403,Subscriber,1959.0,1
13,NaN,South End Ave & Liberty St,NaN,24183,-74.015756,1716,2015-02-05 09:14:00+00,2015-02-05 09:43:00+00,3002,24145,40.711512,494,W 26 St & 8 Ave,40.747348,-73.997236,15102,Subscriber,1959.0,1
14,NaN,South End Ave & Liberty St,NaN,2434,-74.015756,1666,2015-02-01 13:18:00+00,2015-02-01 13:46:00+00,3002,2368,40.711512,478,11 Ave & W 41 St,40.760301,-73.998842,16918,Customer,NaN,0
15,NaN,South End Ave & Liberty St,NaN,14584,-74.015756,1626,2015-02-04 09:11:00+00,2015-02-04 09:39:00+00,3002,14538,40.711512,494,W 26 St & 8 Ave,40.747348,-73.997236,17488,Subscriber,1959.0,1
16,NaN,South End Ave & Liberty St,NaN,30070,-74.015756,1606,2015-02-05 20:02:00+00,2015-02-05 20:29:00+00,3002,30026,40.711512,375,Mercer St & Bleecker St,40.726795,-73.996951,15627,Subscriber,1949.0,1
17,NaN,South End Ave & Liberty St,NaN,38979,-74.015756,1521,2015-02-06 21:11:00+00,2015-02-06 21:36:00+00,3002,38954,40.711512,438,St Marks Pl & 1 Ave,40.727791,-73.985649,19331,Subscriber,1986.0,1
18,NaN,South End Ave & Liberty St,NaN,39931,-74.015756,1485,2015-02-07 08:27:00+00,2015-02-07 08:52:00+00,3002,39913,40.711512,514,12 Ave & W 40 St,40.760875,-74.002777,15586,Subscriber,1954.0,1
19,NaN,South End Ave & Liberty St,NaN,20934,-74.015756,1460,2015-02-04 20:56:00+00,2015-02-04 21:20:00+00,3002,20877,40.711512,438,St Marks Pl & 1 Ave,40.727791,-73.985649,20268,Subscriber,1986.0,1
20,NaN,South End Ave & Liberty St,NaN,35381,-74.015756,1445,2015-02-06 15:38:00+00,2015-02-06 16:02:00+00,3002,35349,40.711512,334,W 20 St & 7 Ave,40.742388,-73.997262,17077,Subscriber,1956.0,1
21,NaN,South End Ave & Liberty St,NaN,43016,-74.015756,1417,2015-02-07 15:35:00+00,2015-02-07 15:59:00+00,3002,43007,40.711512,382,University Pl & E 14 St,40.734927,-73.992005,20780,Subscriber,1966.0,1
22,NaN,South End Ave & Liberty St,NaN,41551,-74.015756,1332,2015-02-07 12:40:00+00,2015-02-07 13:02:00+00,3002,41541,40.711512,168,W 18 St & 6 Ave,40.739713,-73.994564,15495,Subscriber,1955.0,1
23,NaN,South End Ave & Liberty St,NaN,24751,-74.015756,1313,2015-02-05 10:00:00+00,2015-02-05 10:21:00+00,3002,24714,40.711512,388,W 26 St & 10 Ave,40.749718,-74.002950,20872,Subscriber,1958.0,1
24,NaN,South End Ave & Liberty St,NaN,22447,-74.015756,1312,2015-02-05 07:26:00+00,2015-02-05 07:48:00+00,3002,22399,40.711512,459,W 20 St & 11 Ave,40.746745,-74.007756,17198,Subscriber,1991.0,1
25,NaN,South End Ave & Liberty St,NaN,27677,-74.015756,1285,2015-02-05 16:59:00+00,2015-02-05 17:20:00+00,3002,27637,40.711512,521,8 Ave & W 31 St,40.750450,-73.994811,17061,Subscriber,1973.0,1
26,NaN,South End Ave & Liberty St,NaN,23845,-74.015756,1244,2015-02-05 08:55:00+00,2015-02-05 09:16:00+00,3002,23807,40.711512,496,E 16 St & 5 Ave,40.737262,-73.992390,16147,Subscriber,1974.0,1
27,NaN,South End Ave & Liberty St,NaN,1402,-74.015756,1243,2015-02-01 11:27:00+00,2015-02-01 11:48:00+00,3002,1333,40.711512,360,William St & Pine St,40.707179,-74.008873,18288,Customer,NaN,0
28,NaN,South End Ave & Liberty St,NaN,22580,-74.015756,1240,2015-02-05 07:37:00+00,2015-02-05 07:58:00+00,3002,22533,40.711512,434,9 Ave & W 18 St,40.743174,-74.003664,15178,Subscriber,1962.0,1
29,NaN,South End Ave & Liberty St,NaN,31454,-74.015756,1221,2015-02-06 07:33:00+00,2015-02-06 07:54:00+00,3002,31410,40.711512,388,W 26 St & 10 Ave,40.749718,-74.002950,17595,Subscriber,1958.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46121,NaN,W 52 St & 11 Ave,NaN,33255,-73.993929,396,2015-02-06 09:59:00+00,2015-02-06 10:06:00+00,72,33221,40.767272,2021,W 45 St & 8 Ave,40.759291,-73.988597,17972,Subscriber,1986.0,2
46122,NaN,W 52 St & 11 Ave,NaN,38590,-73.993929,396,2015-02-06 19:55:00+00,2015-02-06 20:01:00+00,72,38564,40.767272,500,Broadway & W 51 St,40.762288,-73.983362,19771,Subscriber,1974.0,1
46123,NaN,W 52 St & 11 Ave,NaN,9254,-73.993929,388,2015-02-03 11:23:00+00,2015-02-03 11:30:00+00,72,9194,40.767272,500,Broadway & W 51 St,40.762288,-73.983362,17196,Subscriber,1980.0,1
46124,NaN,W 52 St & 11 Ave,NaN,31682,-73.993929,388,2015-02-06 07:53:00+00,2015-02-06 08:00:00+00,72,31639,40.767272,529,W 42 St & 8 Ave,40.757570,-73.990985,16405,Subscriber,1978.0,1
46125,NaN,W 52 St & 11 Ave,NaN,4024,-73.993929,387,2015-02-01 15:57:00+00,2015-02-01 16:03:00+00,72,3957,40.767272,514,12 Ave & W 40 St,40.760875,-74.002777,15282,Subscriber,1991.0,1
46126,NaN,W 52 St & 11 Ave,NaN,27144,-73.993929,386,2015-02-05 16:00:00+00,2015-02-05 16:06:00+00,72,27104,40.767272,479,9 Ave & W 45 St,40.760193,-73.991255,15927,Subscriber,1973.0,1
46127,NaN,W 52 St & 11 Ave,NaN,24194,-73.993929,380,2015-02-05 09:14:00+00,2015-02-05 09:21:00+00,72,24156,40.767272,500,Broadway & W 51 St,40.762288,-73.983362,20600,Subscriber,1981.0,1
46128,NaN,W 52 St & 11 Ave,NaN,25625,-73.993929,379,2015-02-05 12:15:00+00,2015-02-05 12:21:00+00,72,25587,40.767272,500,Broadway & W 51 St,40.762288,-73.983362,18991,Subscriber,1973.0,1
46129,NaN,W 52 St & 11 Ave,NaN,26196,-73.993929,377,2015-02-05 13:46:00+00,2015-02-05 13:52:00+00,72,26155,40.767272,514,12 Ave & W 40 St,40.760875,-74.002777,18287,Subscriber,1978.0,1
46130,NaN,W 52 St & 11 Ave,NaN,25882,-73.993929,377,2015-02-05 12:55:00+00,2015-02-05 13:01:00+00,72,25842,40.767272,500,Broadway & W 51 St,40.762288,-73.983362,16310,Subscriber,1972.0,2
46131,NaN,W 52 St & 11 Ave,NaN,8788,-73.993929,375,2015-02-03 09:15:00+00,2015-02-03 09:21:00+00,72,8726,40.767272,500,Broadway & W 51 St,40.762288,-73.983362,20988,Subscriber,1981.0,1
46132,NaN,W 52 St & 11 Ave,NaN,20040,-73.993929,373,2015-02-04 19:16:00+00,2015-02-04 19:22:00+00,72,19984,40.767272,450,W 49 St & 8 Ave,40.762272,-73.987882,20119,Subscriber,1981.0,1
46133,NaN,W 52 St & 11 Ave,NaN,14441,-73.993929,367,2015-02-04 08:59:00+00,2015-02-04 09:05:00+00,72,14395,40.767272,500,Broadway & W 51 St,40.762288,-73.983362,18620,Subscriber,1981.0,1
46134,NaN,W 52 St & 11 Ave,NaN,41477,-73.993929,366,2015-02-07 12:29:00+00,2015-02-07 12:36:00+00,72,41465,40.767272,515,W 43 St & 10 Ave,40.760094,-73.994618,19729,Subscriber,1970.0,1
46135,NaN,W 52 St & 11 Ave,NaN,42455,-73.993929,359,2015-02-07 14:33:00+00,2015-02-07 14:39:00+00,72,42446,40.767272,500,Broadway & W 51 St,40.762288,-73.983362,21114,Subscriber,1983.0,1
46136,NaN,W 52 St & 11 Ave,NaN,9553,-73.993929,348,2015-02-03 13:01:00+00,2015-02-03 13:06:00+00,72,9494,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,16754,Subscriber,1961.0,1
46137,NaN,W 52 St & 11 Ave,NaN,44795,-73.993929,345,2015-02-07 18:46:00+00,2015-02-07 18:51:00+00,72,44789,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,17669,Subscriber,1983.0,1
46138,NaN,W 52 St & 11 Ave,NaN,718,-73.993929,344,2015-02-01 09:49:00+00,2015-02-01 09:54:00+00,72,649,40.767272,2021,W 45 St & 8 Ave,40.759291,-73.988597,14692,Subscriber,1986.0,2
46139,NaN,W 52 St & 11 Ave,NaN,2208,-73.993929,339,2015-02-01 12:54:00+00,2015-02-01 13:00:00+00,72,2142,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,19672,Subscriber,1982.0,1
46140,NaN,W 52 St & 11 Ave,NaN,44679,-73.993929,304,2015-02-07 18:31:00+00,2015-02-07 18:36:00+00,72,44674,40.767272,526,E 33 St & 5 Ave,40.747659,-73.984907,18198,Subscriber,1983.0,1
46141,NaN,W 52 St & 11 Ave,NaN,2348,-73.993929,301,2015-02-01 13:08:00+00,2015-02-01 13:13:00+00,72,2282,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,18174,Subscriber,1974.0,1
46142,NaN,W 52 St & 11 Ave,NaN,42084,-73.993929,288,2015-02-07 13:50:00+00,2015-02-07 13:54:00+00,72,42074,40.767272,514,12 Ave & W 40 St,40.760875,-74.002777,19124,Subscriber,1978.0,1
46143,NaN,W 52 St & 11 Ave,NaN,41366,-73.993929,283,2015-02-07 12:10:00+00,2015-02-07 12:15:00+00,72,41355,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,21588,Subscriber,1974.0,1
46144,NaN,W 52 St & 11 Ave,NaN,16015,-73.993929,276,2015-02-04 12:46:00+00,2015-02-04 12:51:00+00,72,15971,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,19216,Subscriber,1961.0,1
46145,NaN,W 52 St & 11 Ave,NaN,32603,-73.993929,261,2015-02-06 08:58:00+00,2015-02-06 09:02:00+00,72,32566,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,18492,Subscriber,1971.0,1
46146,NaN,W 52 St & 11 Ave,NaN,43107,-73.993929,252,2015-02-07 15:43:00+00,2015-02-07 15:47:00+00,72,43099,40.767272,515,W 43 St & 10 Ave,40.760094,-73.994618,15277,Subscriber,1983.0,1
46147,NaN,W 52 St & 11 Ave,NaN,22002,-73.993929,248,2015-02-05 06:19:00+00,2015-02-05 06:24:00+00,72,21948,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,16879,Subscriber,1970.0,1
46148,NaN,W 52 St & 11 Ave,NaN,40770,-73.993929,229,2015-02-07 10:40:00+00,2015-02-07 10:44:00+00,72,40757,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,19729,Subscriber,1995.0,1
46149,NaN,W 52 St & 11 Ave,NaN,40772,-73.993929,189,2015-02-07 10:40:00+00,2015-02-07 10:43:00+00,72,40759,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,18131,Subscriber,1959.0,2
46150,NaN,W 52 St & 11 Ave,NaN,9059,-73.993929,107,2015-02-03 10:10:00+00,2015-02-03 10:12:00+00,72,8998,40.767272,72,W 52 St & 11 Ave,40.767272,-73.993929,19039,Subscriber,1980.0,2

### First 10 entries of data

In [18]:
test = '''
SELECT * from citibike
ORDER BY cartodb_id ASC
LIMIT 10
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,8 Ave & W 31 St,NaN,70,-73.994811,801,2015-02-01 00:00:00+00,2015-02-01 00:14:00+00,521,1,40.750450,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978,2
1,NaN,E 17 St & Broadway,NaN,71,-73.990093,379,2015-02-01 00:00:00+00,2015-02-01 00:07:00+00,497,2,40.737050,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993,1
2,NaN,Grand Army Plaza & Central Park S,NaN,72,-73.973715,2474,2015-02-01 00:01:00+00,2015-02-01 00:42:00+00,281,3,40.764397,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969,2
3,NaN,6 Ave & Broome St,NaN,73,-74.004704,818,2015-02-01 00:01:00+00,2015-02-01 00:15:00+00,2004,4,40.724399,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985,2
4,NaN,Lawrence St & Willoughby St,NaN,74,-73.986317,544,2015-02-01 00:01:00+00,2015-02-01 00:10:00+00,323,5,40.692362,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957,1
5,NaN,Willoughby Ave & Walworth St,NaN,75,-73.953820,717,2015-02-01 00:02:00+00,2015-02-01 00:14:00+00,373,6,40.693317,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,15854,Subscriber,1979,1
6,NaN,W 56 St & 6 Ave,NaN,76,-73.977225,1306,2015-02-01 00:04:00+00,2015-02-01 00:26:00+00,352,7,40.763406,504,1 Ave & E 15 St,40.732219,-73.981656,15173,Subscriber,1983,1
7,NaN,E 4 St & 2 Ave,NaN,77,-73.989780,913,2015-02-01 00:04:00+00,2015-02-01 00:19:00+00,439,8,40.726281,116,W 17 St & 8 Ave,40.741776,-74.001497,17862,Subscriber,1955,1
8,NaN,Washington Pl & Broadway,NaN,78,-73.994046,759,2015-02-01 00:04:00+00,2015-02-01 00:17:00+00,335,9,40.729039,2012,E 27 St & 1 Ave,40.739445,-73.976806,21183,Subscriber,1985,2
9,NaN,Greenwich Ave & 8 Ave,NaN,79,-74.002638,585,2015-02-01 00:05:00+00,2015-02-01 00:15:00+00,284,10,40.739017,444,Broadway & W 24 St,40.742354,-73.989151,14843,Subscriber,1982,1

### Last 10 entries of data

In [86]:
test = '''
SELECT * from citibike
ORDER BY cartodb_id DeSC
LIMIT 10
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965,2
1,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983,2
2,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986,1
3,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986,2
4,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953,1
5,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960,2
6,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974,1
7,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959,1
8,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984,1
9,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983,2

### Listing all the bike stations

In [87]:
test = '''
SELECT DISTINCT start_station_id from citibike
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

     start_station_id  Unnamed: 1
0                 120         NaN
1                 285         NaN
2                 251         NaN
3                 195         NaN
4                 453         NaN
5                 144         NaN
6                 266         NaN
7                 263         NaN
8                 216         NaN
9                 328         NaN
10                353         NaN
11                212         NaN
12                383         NaN
13                538         NaN
14                217         NaN
15                300         NaN
16                456         NaN
17                128         NaN
18                223         NaN
19                244         NaN
20                494         NaN
21                403         NaN
22                260         NaN
23                445         NaN
24                411         NaN
25                377         NaN
26                427         NaN
27                232         NaN
28                331         NaN
29                416         NaN
..                ...         ...
297               127         NaN
298               397         NaN
299               310         NaN
300               454         NaN
301               531         NaN
302               268         NaN
303               329         NaN
304               518         NaN
305               514         NaN
306               437         NaN
307               270         NaN
308               356         NaN
309               399         NaN
310               119         NaN
311               384         NaN
312               151         NaN
313               362         NaN
314               262         NaN
315               313         NaN
316              2008         NaN
317               276         NaN
318               470         NaN
319               455         NaN
320               496         NaN
321               312         NaN
322               318         NaN
323               497         NaN
324               305         NaN
325               264         NaN
326               483         NaN

[327 rows x 2 columns]

### Total number of trips

In [88]:
test = '''
SELECT COUNT(tripduration) from citibike
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

   count  Unnamed: 1
0  46200         NaN

### Min, Max and average duration of trips

In [90]:
test = '''
SELECT MIN(tripduration) from citibike
'''
table = pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')
print table

test = '''
SELECT MAX(tripduration) from citibike
'''
table = pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')
print table

test = '''
SELECT AVG(tripduration) from citibike
'''
table = pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')
print table

   min  Unnamed: 1
0   60         NaN
     max  Unnamed: 1
0  43016         NaN
          avg  Unnamed: 1
0  675.865823         NaN

### Selecting the rows with start date > Feb 2, 2015

In [91]:
test = '''
SELECT * from citibike
WHERE starttime::date > '2015-02-01'
'''
table = pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
1,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
2,NaN,E 39 St & 3 Ave,NaN,8327,-73.976049,441,2015-02-03 08:02:00+00,2015-02-03 08:10:00+00,167,8263,40.748901,526,E 33 St & 5 Ave,40.747659,-73.984907,21518,Subscriber,1975.0,1
3,NaN,10 Ave & W 28 St,NaN,9435,-74.001768,1475,2015-02-03 12:31:00+00,2015-02-03 12:56:00+00,489,9375,40.750664,455,1 Ave & E 44 St,40.750020,-73.969053,19863,Subscriber,1984.0,2
4,NaN,E 2 St & 2 Ave,NaN,10472,-73.990697,420,2015-02-03 16:45:00+00,2015-02-03 16:52:00+00,403,10411,40.725029,297,E 15 St & 3 Ave,40.734232,-73.986923,19257,Subscriber,1984.0,1
5,NaN,1 Ave & E 44 St,NaN,10931,-73.969053,876,2015-02-03 17:37:00+00,2015-02-03 17:52:00+00,455,10867,40.750020,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1977.0,1
6,NaN,W 45 St & 6 Ave,NaN,11361,-73.982912,640,2015-02-03 18:21:00+00,2015-02-03 18:32:00+00,493,11300,40.756800,440,E 45 St & 3 Ave,40.752554,-73.972826,21433,Subscriber,1981.0,1
7,NaN,W 18 St & 6 Ave,NaN,12173,-73.994564,571,2015-02-03 20:26:00+00,2015-02-03 20:35:00+00,168,12114,40.739713,494,W 26 St & 8 Ave,40.747348,-73.997236,19493,Subscriber,1964.0,1
8,NaN,E 58 St & 3 Ave,NaN,12211,-73.967245,821,2015-02-03 20:37:00+00,2015-02-03 20:50:00+00,305,12152,40.760958,515,W 43 St & 10 Ave,40.760094,-73.994618,16564,Subscriber,1983.0,1
9,NaN,E 33 St & 5 Ave,NaN,12560,-73.984907,376,2015-02-03 22:20:00+00,2015-02-03 22:26:00+00,526,12500,40.747659,507,E 25 St & 2 Ave,40.739126,-73.979738,19721,Subscriber,1991.0,1
10,NaN,W 31 St & 7 Ave,NaN,13239,-73.991600,770,2015-02-04 07:21:00+00,2015-02-04 07:34:00+00,379,13183,40.749156,461,E 20 St & 2 Ave,40.735877,-73.982050,15184,Subscriber,1987.0,2
11,NaN,5 Ave & E 29 St,NaN,13365,-73.986831,319,2015-02-04 07:35:00+00,2015-02-04 07:40:00+00,474,13312,40.745168,476,E 31 St & 3 Ave,40.743943,-73.979661,16067,Subscriber,1991.0,1
12,NaN,E 39 St & 2 Ave,NaN,13750,-73.973442,358,2015-02-04 08:11:00+00,2015-02-04 08:17:00+00,518,13702,40.747804,537,Lexington Ave & E 24 St,40.740259,-73.984092,19181,Subscriber,1991.0,1
13,NaN,10 Ave & W 28 St,NaN,14218,-74.001768,338,2015-02-04 08:45:00+00,2015-02-04 08:50:00+00,489,14172,40.750664,494,W 26 St & 8 Ave,40.747348,-73.997236,18840,Subscriber,1992.0,2
14,NaN,W 42 St & 8 Ave,NaN,14431,-73.990985,575,2015-02-04 08:59:00+00,2015-02-04 09:08:00+00,529,14384,40.757570,442,W 27 St & 7 Ave,40.746647,-73.993915,15151,Subscriber,1956.0,1
15,NaN,E 27 St & 1 Ave,NaN,15157,-73.976806,451,2015-02-04 10:10:00+00,2015-02-04 10:17:00+00,2012,15113,40.739445,518,E 39 St & 2 Ave,40.747804,-73.973442,20338,Subscriber,1990.0,2
16,NaN,Great Jones St,NaN,15669,-73.993790,548,2015-02-04 11:51:00+00,2015-02-04 12:00:00+00,229,15625,40.727434,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,15482,Subscriber,1962.0,1
17,NaN,W 49 St & 8 Ave,NaN,16526,-73.987882,404,2015-02-04 14:08:00+00,2015-02-04 14:14:00+00,450,16481,40.762272,520,W 52 St & 5 Ave,40.759923,-73.976485,17488,Subscriber,1965.0,2
18,NaN,Broadway & W 24 St,NaN,16572,-73.989151,357,2015-02-04 14:15:00+00,2015-02-04 14:21:00+00,444,16527,40.742354,475,E 16 St & Irving Pl,40.735243,-73.987586,17453,Subscriber,1975.0,1
19,NaN,E 40 St & 5 Ave,NaN,18931,-73.981632,330,2015-02-04 18:02:00+00,2015-02-04 18:08:00+00,153,18880,40.752062,518,E 39 St & 2 Ave,40.747804,-73.973442,18973,Subscriber,1980.0,1
20,NaN,E 16 St & 5 Ave,NaN,19229,-73.992390,606,2015-02-04 18:19:00+00,2015-02-04 18:29:00+00,496,19177,40.737262,379,W 31 St & 7 Ave,40.749156,-73.991600,18362,Subscriber,1981.0,1
21,NaN,Broadway & W 36 St,NaN,20481,-73.987654,1001,2015-02-04 19:59:00+00,2015-02-04 20:15:00+00,267,20425,40.750977,504,1 Ave & E 15 St,40.732219,-73.981656,19935,Subscriber,1985.0,2
22,NaN,8 Ave & W 31 St,NaN,21285,-73.994811,1618,2015-02-04 21:58:00+00,2015-02-04 22:25:00+00,521,21228,40.750450,483,E 12 St & 3 Ave,40.732233,-73.988900,14660,Subscriber,1976.0,1
23,NaN,W 45 St & 6 Ave,NaN,23338,-73.982912,876,2015-02-05 08:29:00+00,2015-02-05 08:43:00+00,493,23298,40.756800,454,E 51 St & 1 Ave,40.754557,-73.965930,16891,Subscriber,1964.0,1
24,NaN,FDR Drive & E 35 St,NaN,23392,-73.971212,506,2015-02-05 08:32:00+00,2015-02-05 08:40:00+00,501,23353,40.744219,164,E 47 St & 2 Ave,40.753231,-73.970325,18208,Subscriber,1978.0,1
25,NaN,6 Ave & W 33 St,NaN,23425,-73.988484,683,2015-02-05 08:34:00+00,2015-02-05 08:46:00+00,505,23386,40.749013,167,E 39 St & 3 Ave,40.748901,-73.976049,18744,Subscriber,1968.0,1
26,NaN,E 27 St & 1 Ave,NaN,24193,-73.976806,522,2015-02-05 09:14:00+00,2015-02-05 09:23:00+00,2012,24155,40.739445,455,1 Ave & E 44 St,40.750020,-73.969053,21690,Subscriber,1977.0,2
27,NaN,12 Ave & W 40 St,NaN,24660,-74.002777,946,2015-02-05 09:51:00+00,2015-02-05 10:07:00+00,514,24623,40.760875,377,6 Ave & Canal St,40.722438,-74.005664,21248,Subscriber,1991.0,1
28,NaN,W 52 St & 9 Ave,NaN,24831,-73.987895,482,2015-02-05 10:10:00+00,2015-02-05 10:18:00+00,449,24794,40.764618,493,W 45 St & 6 Ave,40.756800,-73.982912,17842,Subscriber,1982.0,1
29,NaN,8 Ave & W 33 St,NaN,25003,-73.993934,592,2015-02-05 10:35:00+00,2015-02-05 10:45:00+00,490,24966,40.751551,484,W 44 St & 5 Ave,40.755003,-73.980144,16056,Subscriber,1962.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39729,NaN,Washington Pl & Broadway,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,46171,40.729039,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
39730,NaN,Allen St & Hester St,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,46172,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
39731,NaN,Warren St & Church St,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,46173,40.714740,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
39732,NaN,E 12 St & 3 Ave,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,46174,40.732233,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
39733,NaN,Dean St & 4 Ave,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,46175,40.683125,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
39734,NaN,Allen St & Hester St,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,46176,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
39735,NaN,Broadway & E 22 St,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,46177,40.740343,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
39736,NaN,Washington Pl & 6 Ave,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,46178,40.732241,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
39737,NaN,E 31 St & 3 Ave,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,46179,40.743943,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
39738,NaN,Broadway & W 60 St,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,46180,40.769155,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
39739,NaN,Carmine St & 6 Ave,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,46181,40.730386,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
39740,NaN,W 52 St & 5 Ave,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,46182,40.759923,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
39741,NaN,Dean St & 4 Ave,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,46183,40.683125,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
39742,NaN,9 Ave & W 45 St,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,46184,40.760193,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
39743,NaN,Broadway & W 58 St,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46185,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
39744,NaN,Broadway & W 58 St,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46186,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
39745,NaN,Watts St & Greenwich St,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,46187,40.724055,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
39746,NaN,W 51 St & 6 Ave,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,46188,40.760660,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
39747,NaN,University Pl & E 14 St,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,46189,40.734927,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
39748,NaN,W 11 St & 6 Ave,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,46190,40.735324,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
39749,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
39750,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
39751,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
39752,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
39753,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
39754,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
39755,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
39756,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
39757,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
39758,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

### Selecting the trip started in weekend

In [92]:
test = '''
select *
from citibike
WHERE  TO_CHAR(starttime::date, 'DY') IN ('SAT', 'SUN')
'''
table = pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0
5,NaN,E 20 St & 2 Ave,NaN,39894,-73.982050,296,2015-02-07 08:13:00+00,2015-02-07 08:18:00+00,461,39876,40.735877,435,W 21 St & 6 Ave,40.741740,-73.994156,17278,Subscriber,1987.0,1
6,NaN,Broadway & W 60 St,NaN,41512,-73.981918,600,2015-02-07 12:35:00+00,2015-02-07 12:45:00+00,499,41501,40.769155,523,W 38 St & 8 Ave,40.754666,-73.991382,15224,Subscriber,1959.0,1
7,NaN,E 6 St & Avenue D,NaN,41595,-73.976687,1203,2015-02-07 12:47:00+00,2015-02-07 13:07:00+00,411,41585,40.722281,428,E 3 St & 1 Ave,40.724677,-73.987834,21461,Subscriber,1968.0,1
8,NaN,Great Jones St,NaN,41806,-73.993790,520,2015-02-07 13:16:00+00,2015-02-07 13:25:00+00,229,41796,40.727434,168,W 18 St & 6 Ave,40.739713,-73.994564,14621,Subscriber,1964.0,1
9,NaN,W 13 St & 6 Ave,NaN,42316,-73.997044,487,2015-02-07 14:18:00+00,2015-02-07 14:26:00+00,345,42307,40.736494,509,9 Ave & W 22 St,40.745497,-74.001971,21362,Subscriber,1962.0,1
10,NaN,W 34 St & 11 Ave,NaN,42532,-74.002116,984,2015-02-07 14:42:00+00,2015-02-07 14:59:00+00,525,42523,40.755942,388,W 26 St & 10 Ave,40.749718,-74.002950,14549,Customer,NaN,0
11,NaN,W 41 St & 8 Ave,NaN,42915,-73.990026,621,2015-02-07 15:23:00+00,2015-02-07 15:33:00+00,477,42906,40.756405,509,9 Ave & W 22 St,40.745497,-74.001971,20216,Subscriber,1980.0,1
12,NaN,E 25 St & 1 Ave,NaN,44448,-73.977387,397,2015-02-07 18:03:00+00,2015-02-07 18:10:00+00,174,44443,40.738177,528,2 Ave & E 31 St,40.742909,-73.977061,15948,Subscriber,1991.0,1
13,NaN,E 15 St & 3 Ave,NaN,44744,-73.986923,352,2015-02-07 18:39:00+00,2015-02-07 18:45:00+00,297,44739,40.734232,507,E 25 St & 2 Ave,40.739126,-73.979738,15367,Subscriber,1978.0,1
14,NaN,W 33 St & 7 Ave,NaN,44834,-73.990931,1063,2015-02-07 18:53:00+00,2015-02-07 19:11:00+00,492,44829,40.750200,174,E 25 St & 1 Ave,40.738177,-73.977387,20702,Subscriber,1989.0,2
15,NaN,E 33 St & 2 Ave,NaN,45301,-73.976056,483,2015-02-07 19:59:00+00,2015-02-07 20:07:00+00,527,45297,40.744023,325,E 19 St & 3 Ave,40.736245,-73.984738,20296,Subscriber,1984.0,1
16,NaN,8 Ave & W 33 St,NaN,0,-73.993934,447,2015-02-01 01:11:00+00,2015-02-01 01:19:00+00,490,93,40.751551,479,9 Ave & W 45 St,40.760193,-73.991255,15185,Subscriber,1983.0,2
17,NaN,Broadway & W 39 St,NaN,1,-73.987216,277,2015-02-01 10:26:00+00,2015-02-01 10:30:00+00,533,847,40.752996,515,W 43 St & 10 Ave,40.760094,-73.994618,16452,Subscriber,1978.0,1
18,NaN,W 18 St & 6 Ave,NaN,2,-73.994564,526,2015-02-01 11:07:00+00,2015-02-01 11:16:00+00,168,1180,40.739713,521,8 Ave & W 31 St,40.750450,-73.994811,16741,Subscriber,1984.0,1
19,NaN,Broadway & E 22 St,NaN,3,-73.989551,502,2015-02-01 12:37:00+00,2015-02-01 12:46:00+00,402,1971,40.740343,459,W 20 St & 11 Ave,40.746745,-74.007756,16951,Subscriber,1983.0,1
20,NaN,W 46 St & 11 Ave,NaN,4,-73.996674,943,2015-02-01 12:46:00+00,2015-02-01 13:02:00+00,508,2053,40.763414,521,8 Ave & W 31 St,40.750450,-73.994811,16897,Subscriber,1966.0,2
21,NaN,Great Jones St,NaN,5,-73.993790,563,2015-02-01 12:54:00+00,2015-02-01 13:03:00+00,229,2138,40.727434,346,Bank St & Hudson St,40.736529,-74.006180,16722,Subscriber,1984.0,1
22,NaN,Carmine St & 6 Ave,NaN,6,-74.002150,519,2015-02-01 15:21:00+00,2015-02-01 15:29:00+00,368,3591,40.730386,503,E 20 St & Park Ave,40.738274,-73.987520,15196,Subscriber,1968.0,1
23,NaN,E 12 St & 3 Ave,NaN,7,-73.988900,500,2015-02-01 17:38:00+00,2015-02-01 17:47:00+00,483,4983,40.732233,435,W 21 St & 6 Ave,40.741740,-73.994156,19409,Customer,NaN,0
24,NaN,W 20 St & 7 Ave,NaN,8,-73.997262,374,2015-02-01 17:48:00+00,2015-02-01 17:55:00+00,334,5067,40.742388,497,E 17 St & Broadway,40.737050,-73.990093,21456,Customer,NaN,0
25,NaN,E 11 St & 1 Ave,NaN,9,-73.984267,420,2015-02-01 19:26:00+00,2015-02-01 19:33:00+00,326,5748,40.729538,527,E 33 St & 2 Ave,40.744023,-73.976056,14878,Subscriber,1988.0,1
26,NaN,W 24 St & 7 Ave,NaN,10,-73.995299,315,2015-02-01 21:34:00+00,2015-02-01 21:39:00+00,446,6086,40.744876,521,8 Ave & W 31 St,40.750450,-73.994811,16042,Subscriber,1956.0,1
27,NaN,W 33 St & 7 Ave,NaN,38,-73.990931,302,2015-02-07 06:33:00+00,2015-02-07 06:38:00+00,492,39722,40.750200,493,W 45 St & 6 Ave,40.756800,-73.982912,18472,Subscriber,1972.0,1
28,NaN,W 17 St & 8 Ave,NaN,49,-74.001497,424,2015-02-07 00:00:00+00,2015-02-07 00:07:00+00,116,39412,40.741776,489,10 Ave & W 28 St,40.750664,-74.001768,19071,Subscriber,1963.0,1
29,NaN,E 15 St & 3 Ave,NaN,50,-73.986923,439,2015-02-07 03:43:00+00,2015-02-07 03:50:00+00,297,39651,40.734232,527,E 33 St & 2 Ave,40.744023,-73.976056,21448,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13201,NaN,Washington Pl & Broadway,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,46171,40.729039,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
13202,NaN,Allen St & Hester St,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,46172,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
13203,NaN,Warren St & Church St,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,46173,40.714740,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
13204,NaN,E 12 St & 3 Ave,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,46174,40.732233,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
13205,NaN,Dean St & 4 Ave,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,46175,40.683125,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
13206,NaN,Allen St & Hester St,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,46176,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
13207,NaN,Broadway & E 22 St,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,46177,40.740343,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
13208,NaN,Washington Pl & 6 Ave,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,46178,40.732241,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
13209,NaN,E 31 St & 3 Ave,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,46179,40.743943,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
13210,NaN,Broadway & W 60 St,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,46180,40.769155,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
13211,NaN,Carmine St & 6 Ave,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,46181,40.730386,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
13212,NaN,W 52 St & 5 Ave,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,46182,40.759923,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
13213,NaN,Dean St & 4 Ave,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,46183,40.683125,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
13214,NaN,9 Ave & W 45 St,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,46184,40.760193,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
13215,NaN,Broadway & W 58 St,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46185,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
13216,NaN,Broadway & W 58 St,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46186,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
13217,NaN,Watts St & Greenwich St,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,46187,40.724055,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
13218,NaN,W 51 St & 6 Ave,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,46188,40.760660,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
13219,NaN,University Pl & E 14 St,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,46189,40.734927,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
13220,NaN,W 11 St & 6 Ave,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,46190,40.735324,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
13221,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
13222,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
13223,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
13224,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
13225,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
13226,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
13227,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
13228,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
13229,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
13230,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

### Average trip duration of weekend started trips

In [93]:
test = '''
select AVG(tripduration)
from citibike
WHERE  TO_CHAR(starttime::date, 'DY') IN ('SAT', 'SUN')
'''
table = pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')
table

          avg  Unnamed: 1
0  662.942181         NaN

### Average trip duration of weekdays started trips

In [49]:
test = '''
select AVG(tripduration)
from citibike
WHERE  TO_CHAR(starttime::date, 'DY') IN ('MON', 'TUE', 'WED', 'THU', 'FRI')
'''
table = pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')
table

          avg  Unnamed: 1
0  681.052292         NaN

### Selecting unique stations and total number of trips starting from them

In [94]:
test = '''
select start_station_id, start_station_name, count(start_station_id) as trips
from citibike
GROUP BY start_station_id, start_station_name 
'''
table = pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')
table

     start_station_id               start_station_name  trips
0                 257          Lispenard St & Broadway    123
1                 453                  W 22 St & 8 Ave    218
2                 291       Madison St & Montgomery St    108
3                 387          Centre St & Chambers St    159
4                 364      Lafayette Ave & Classon Ave     13
5                 354          Emerson Pl & Myrtle Ave     30
6                 491             E 24 St & Park Ave S    288
7                 355            Bayard St & Baxter St    136
8                 146             Hudson St & Reade St    101
9                 279             Peck Slip & Front St     89
10                533               Broadway & W 39 St    196
11                353       S Portland Ave & Hanson Pl     29
12                237                  E 11 St & 2 Ave    228
13                447                  8 Ave & W 52 St    133
14                383       Greenwich Ave & Charles St    142
15                415        Pearl St & Hanover Square     97
16                411                E 6 St & Avenue D     86
17                324          DeKalb Ave & Hudson Ave     96
18                311           Norfolk St & Broome St     83
19                496                  E 16 St & 5 Ave    250
20                167                  E 39 St & 3 Ave    254
21                367          E 53 St & Lexington Ave    103
22                479                  9 Ave & W 45 St    189
23                514                 12 Ave & W 40 St     91
24                493                  W 45 St & 6 Ave    141
25                321    Cadman Plaza E & Red Cross Pl     18
26                442                  W 27 St & 7 Ave    320
27                305                  E 58 St & 3 Ave    213
28                152            Warren St & Church St     71
29                216  Columbia Heights & Cranberry St     12
..                ...                              ...    ...
297               460               S 4 St & Wythe Ave     34
298              2010             Grand St & Greene St     76
299               438              St Marks Pl & 1 Ave    156
300               410          Suffolk St & Stanton St    215
301              2006           Central Park S & 6 Ave     79
302               339               Avenue D & E 12 St     19
303               266                Avenue D & E 8 St     38
304               529                  W 42 St & 8 Ave    221
305               336      Sullivan St & Washington Sq    168
306               489                 10 Ave & W 28 St    203
307               328          Watts St & Greenwich St     73
308               232      Cadman Plaza E & Tillary St     22
309               120      Lexington Ave & Classon Ave     17
310               195            Liberty St & Broadway    137
311               236              St Marks Pl & 2 Ave    254
312               470                  W 20 St & 8 Ave    173
313               511               E 14 St & Avenue B    279
314               301                E 2 St & Avenue B    199
315               362               Broadway & W 37 St     98
316               480                 W 53 St & 10 Ave     81
317               270          Adelphi St & Myrtle Ave     92
318               309              Murray St & West St     76
319               373     Willoughby Ave & Walworth St     27
320               537          Lexington Ave & E 24 St    372
321               399      Lafayette Ave & St James Pl     32
322               384          Fulton St & Waverly Ave     55
323               296             Division St & Bowery    167
324               420     Clermont Ave & Lafayette Ave     25
325               524                  W 43 St & 6 Ave    112
326               471          Grand St & Havemeyer St     32

[327 rows x 3 columns]

### Selecting stations within 0.5 km of Times Square and total number of trips from them

In [96]:
test = '''
select start_station_id, start_station_name, count(start_station_id) as trips
from citibike
WHERE
(
        6371 *
        acos(
            cos( radians(40.7577 ) ) *
            cos( radians(start_station_latitude) ) *
            cos(
                radians(start_station_longitude) - radians(-73.9857)
            ) +
            sin(radians(40.7577)) *
            sin(radians(start_station_latitude))
        )
    ) < 0.5
GROUP BY start_station_id, start_station_name
'''
table = pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')
table

   start_station_id  start_station_name  trips
0               493     W 45 St & 6 Ave    141
1               465  Broadway & W 41 St    251
2               477     W 41 St & 8 Ave    507
3               173  Broadway & W 49 St    213
4              2021     W 45 St & 8 Ave    141
5               529     W 42 St & 8 Ave    221
6               524     W 43 St & 6 Ave    112

### Selecting stations within 0.5 km of Times Square and total number of trips from them with less than 2 hrs trip duration

In [78]:
test = '''
select start_station_id, start_station_name, count(tripduration)
from citibike
WHERE
(
        6371 *
        acos(
            cos( radians(40.7577 ) ) *
            cos( radians(start_station_latitude) ) *
            cos(
                radians(start_station_longitude) - radians(-73.9857)
            ) +
            sin(radians(40.7577)) *
            sin(radians(start_station_latitude))
        )
    ) < 0.5
AND tripduration < 7200
GROUP BY start_station_id, start_station_name
'''
table = pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')
table

   start_station_id  start_station_name  count
0               493     W 45 St & 6 Ave    141
1               465  Broadway & W 41 St    251
2               477     W 41 St & 8 Ave    507
3               173  Broadway & W 49 St    212
4              2021     W 45 St & 8 Ave    141
5               529     W 42 St & 8 Ave    221
6               524     W 43 St & 6 Ave    112

# extra credit: make the function python 2 and 3 compatible so that it works on the  PUI2016_Python3 kernel

done at starting of notebook